body{
    margin: 0;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(82, 80, 80);
}
.nvsub{
    display: flex;
    justify-content: center;

}
.nvsub div{
    padding: 20px;
}
.bar{
    width: 100%;
    background-color: rgb(17, 16, 16);
    text-align: center;
    color: white;
    padding: 10px 0;
}
video{
    background-color: black;
    width: 100%;
    height: 650px;
    position: relative;
}
.vdtextm{
    position: absolute;
    color: white;
    font-family:  SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    bottom: 85px ;
    left: 35vw;
   text-align: center;
   line-height: 50px;
}
.vdtextm h2{
    font-size: 56px;
    margin: 0;
    
}
.vdtextm p{
    margin: 0;
    font-size: 28px;
}
.vdtextm button{
background-color: #0077ED;
padding: 10px 15px;
border-radius: 20px;
border: none;
color: white;
font-size: 13px;

}
.adimg{
    background-color:whitesmoke;
     /* height:800 ; */
    width: 100%;
    text-align: center;

    padding: 40px 0;

}
.adimg img{
    display: block;
    margin: auto;

}
.adimg button{
    background-color: whitesmoke;
    padding: 10px 15px;
    border-radius: 20px;
    border: solid 1px #0077ED;
    font-size: larger;
    color: #0077ED;
}
.adimg button:hover{
    background-color: #0077ED;
    color: white;

}
.pro{
    margin-top: 5px;
    width: 100%;
    height: 200px;
    position: relative;
}
.pro img{
    width: 100%;
}
.profun{
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 50px;
    left: 37vw;
    font-family:  SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.profun h2{
    font-size: 56px;
    margin: 0;
}
.profun p{
    margin: 0;
    font-size: 28px;
}
.profun .btn1{
    background-color: #0077ED;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    /* font-size: 13px; */
    font-size:larger;
}
.profun .btn2{
    background-color: #000000;
    padding: 15px 20px;
    border-radius: 40px;
    border: solid 1px #0077ED ;
    color: #0077ED;
    font-size:larger;

}
.profun .btn2:hover{
    background-color: #0077ED;
    color: white;
}
.adgrid{
    display: grid;
    /* margin: auto; */
    margin-top: 300px;
    grid-template-columns: auto auto;
    grid-template-rows: 400px 400px 400px;
    padding: 10px;
    gap: 10px;
}
.adgrid .a1 img{
    width: 100%;
    height: 100%;
}
.notice{
    background-color: whitesmoke;
}

.ntctxt{
    font-size: x-small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 51, 51);
    width: 70%;
    margin: auto;
}    